body {
    background: #fff;
}

.clamped {
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    max-height: 3em;
}

.ellipsis {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
}

.fill {
    background: #fff; 
    height: 100%;
    position: absolute;
    width: 100%;
}